.headComponent{
    display: flex;
    column-gap: 3vh;
    background-color: rgb(247, 247, 247);
    height: 12vh;
    padding-left: 15%;
    padding-top: 2%;

    p{
        padding-top: 1.5%;
        color: rgb(123,123,123);
    }
}